.page {
    height: 100vh;
    flex-direction: column;
}

.finance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background: #241133;
    font-family: "Montserrat", sans-serif;
    color: #000;
}

.finance-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #75529c;
    padding: 40px;
    width: 75%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: left;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.finance-box tr {
    width: 100%;
    display: flex;
}


.finance-box thead tr td:first-child,
.finance-box tbody tr td:first-child {
    width: 60%;
}

.finance-box thead tr td:nth-child(2),
.finance-box tbody tr td:nth-child(2) {
    width: 20%;
}

.finance-box thead tr td:nth-child(3),
.finance-box tbody tr td:nth-child(3) {
    width: 20%;
}


.finance-box tr td {
    padding: 10px 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #241133;
    background-color: #ccc;
    font-size: 18px;
    align-items: center;
}

.finance-box tfoot,
.finance-box thead {
    width: 100%;
    font-weight: bold;
    color:#300c52;
}

.finance-box tfoot tr td {
    width: 100%;
}

.finance-box tbody {
    width: 100%;
}

.finance-header {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    color: #ccc;
    margin-bottom: 10px;
}

.manage-finance-button {
    width: auto;
    background-color: #300c52;
    color: white;
    padding: 12px 20px;
    margin: 0;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.delete-row-button {
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    height: 100%;
    width: auto;
}